<!--<header *ngIf="!isLoggedIn()" class="row spacing">-->
            <!--<nav class="col-md-6 offset-md-4">-->
                <!--<ul class="nav nav-tabs">-->
                    <!--&lt;!&ndash; <li routerLinkActive="active"><a [routerLink]="['signup']">Signup</a></li> &ndash;&gt;-->
                    <!--<li routerLinkActive="active" *ngIf="!isLoggedIn()"><a [routerLink]="['signin']">Signin</a></li>-->
                    <!--<li routerLinkActive="active" *ngIf="isLoggedIn()"><a [routerLink]="['logout']">Logout</a></li>-->
                <!--</ul>-->
            <!--</nav>-->
<!--</header>-->
<!--<div class="row spacing">-->
   <!--<router-outlet></router-outlet>-->
<!--</div>-->