::ng-deep snack-bar-container.logged-out {
	background: #990000;
	color: #fff;
}

::ng-deep .logged-out .mat-simple-snackbar {
	color: #fff;
}

::ng-deep .logged-out .mat-simple-snackbar-action {
	color: #fff;
}